* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: black;
}
h1{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 6rem;
    font-weight:bolder;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 1.5rem;
    padding-top: 3rem;
    background: linear-gradient(black, white, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.keyBtn {
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border: none;
    background: white;
    border-radius: 0.5rem;
}

.piano {
    position: relative;
    display: flex;
    width: 90%;
    /* justify-content: center; */
    align-items: start;
    gap: 2px;
    border-radius: 0.5rem;
    margin: 1rem;
    border: 0.5rem solid gray;
    overflow: hidden;
}
.pianoKey {
   display: flex;
   justify-content: center;
   align-items: end;
    background-color: white;
    /* border: 1px solid black; */

    height: 300px;
    width: 70px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: monospace;
    cursor: pointer;
}

.inner {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    /* margin-left: 25px; */
    gap: 2px;
}
.innerKey {
    text-align:center;
    background-color: black;
    border-radius: 0 0 0.5rem 0.5rem;
    color: white;
    height: 150px;
    width: 45px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: monospace;
    cursor: pointer;
}